In [22]:
import pandas as pd
import numpy as np

In [23]:
death = pd.read_parquet('/Users/liuxiaoquan/Documents/GitHub/pds-2022-white-team/10_code/death_pop.parquet')
death["death_per_capita"] = (death["Deaths"] / death["population"])*100000
death["state"] = death["County"].str.split(", ").str[1]
death.head()

,County Code,Year,County,Deaths,FIPS,year,population,death_per_capita,state
index,,,,,,,,,
0,01003,2003.0,"Baldwin County, AL",10.0,01003,2003.0,151707.0,6.591654,AL
1,01003,2004.0,"Baldwin County, AL",18.0,01003,2004.0,156573.0,11.496235,AL
2,01003,2005.0,"Baldwin County, AL",14.0,01003,2005.0,162564.0,8.611993,AL
3,01003,2006.0,"Baldwin County, AL",11.0,01003,2006.0,168516.0,6.527570,AL
4,01003,2007.0,"Baldwin County, AL",24.0,01003,2007.0,172815.0,13.887683,AL

In [24]:
states_FL =["FL","GA", "NC", "SC"]
states_TX =["TX","OK", "AR", "NM"]
states_WA =["WA","OR", "ID", "MT"]

In [25]:
df_FL = death[death["state"].isin(states_FL)]
df_FL.head()

,County Code,Year,County,Deaths,FIPS,year,population,death_per_capita,state
index,,,,,,,,,
1137,12001,2003.0,"Alachua County, FL",11.0,12001,2003.0,225862.0,4.870230,FL
1138,12001,2007.0,"Alachua County, FL",17.0,12001,2007.0,240196.0,7.077553,FL
1139,12001,2009.0,"Alachua County, FL",15.0,12001,2009.0,243574.0,6.158293,FL
1140,12001,2010.0,"Alachua County, FL",15.0,12001,2010.0,247614.0,6.057816,FL
1141,12001,2011.0,"Alachua County, FL",14.0,12001,2011.0,249834.0,5.603721,FL

In [26]:
df_TX = death[death["state"].isin(states_TX)]
df_TX.head()

,County Code,Year,County,Deaths,FIPS,year,population,death_per_capita,state
index,,,,,,,,,
307,05007,2005.0,"Benton County, AR",10.0,05007,2005.0,192183.0,5.203374,AR
308,05007,2006.0,"Benton County, AR",10.0,05007,2006.0,201509.0,4.962558,AR
309,05007,2007.0,"Benton County, AR",13.0,05007,2007.0,210963.0,6.162218,AR
310,05007,2008.0,"Benton County, AR",12.0,05007,2008.0,219494.0,5.467120,AR
311,05007,2009.0,"Benton County, AR",15.0,05007,2009.0,225504.0,6.651767,AR

In [27]:
df_WA = death[death["state"].isin(states_WA)]
df_WA.head()

,County Code,Year,County,Deaths,FIPS,year,population,death_per_capita,state
index,,,,,,,,,
1932,16001,2003.0,"Ada County, ID",17.0,16001,2003.0,326207.0,5.211415,ID
1933,16001,2004.0,"Ada County, ID",21.0,16001,2004.0,333270.0,6.301197,ID
1934,16001,2005.0,"Ada County, ID",20.0,16001,2005.0,346612.0,5.770141,ID
1935,16001,2006.0,"Ada County, ID",32.0,16001,2006.0,360869.0,8.867484,ID
1936,16001,2007.0,"Ada County, ID",32.0,16001,2007.0,372467.0,8.591365,ID

In [28]:
df_FL_pre = df_FL[df_FL["Year"] < 2010]
df_FL_post = df_FL[df_FL["Year"] >= 2010]

df_TX_pre = df_TX[df_TX["Year"] < 2007]
df_TX_post = df_TX[df_TX["Year"] >= 2007]

df_WA_pre = df_WA[df_WA["Year"] < 2011]
df_WA_post = df_WA[df_WA["Year"] >= 2011]

## Florida and control groups

In [29]:
pre_FL = df_FL_pre.loc[df_FL_pre["state"] == "FL"]["death_per_capita"].describe()
pre_FL_x = df_FL_pre.loc[df_FL_pre["state"] != "FL"]["death_per_capita"].describe()

In [30]:
pre_FL

count    238.000000
mean      14.573195
std        6.126528
min        3.833930
25%       10.245732
50%       14.203485
75%       18.033330
max       35.191188
Name: death_per_capita, dtype: float64

In [31]:
pre_FL_x

count    426.000000
mean      12.623492
std        6.632218
min        3.034743
25%        7.696585
50%       11.356289
75%       15.802985
max       45.283545
Name: death_per_capita, dtype: float64

In [32]:
post_FL = df_FL_post.loc[df_FL_post["state"] == "FL"]["death_per_capita"].describe()
post_FL_x = df_FL_post.loc[df_FL_post["state"] != "FL"]["death_per_capita"].describe()

In [33]:
post_FL

count    220.000000
mean      14.916235
std        6.354556
min        3.902273
25%       10.608172
50%       14.079517
75%       18.562625
max       40.822181
Name: death_per_capita, dtype: float64

In [34]:
post_FL_x

count    493.000000
mean      14.746785
std        7.139818
min        4.737091
25%        9.955796
50%       13.400818
75%       17.652251
max       62.545990
Name: death_per_capita, dtype: float64

## Texas and control groups

In [35]:
pre_TX = df_TX_pre.loc[df_TX_pre["state"] == "TX"]["death_per_capita"].describe()
pre_TX_x = df_TX_pre.loc[df_TX_pre["state"] != "TX"]["death_per_capita"].describe()
pre_TX

count    112.000000
mean      10.139981
std        6.565256
min        1.462589
25%        5.846029
50%        9.321408
75%       11.604912
max       41.553616
Name: death_per_capita, dtype: float64

In [36]:
pre_TX_x

count    62.000000
mean     17.521025
std       9.181076
min       4.496949
25%      10.765703
50%      16.501420
75%      22.119003
max      46.754269
Name: death_per_capita, dtype: float64

In [37]:
post_TX = df_TX_post.loc[df_TX_post["state"] == "TX"]["death_per_capita"].describe()
post_TX_x = df_TX_post.loc[df_TX_post["state"] != "TX"]["death_per_capita"].describe()
post_TX

count    320.000000
mean      10.384817
std        4.994228
min        1.796832
25%        7.301707
50%        9.570469
75%       12.315773
max       35.445390
Name: death_per_capita, dtype: float64

In [38]:
post_TX_x

count    268.000000
mean      19.992620
std       11.485947
min        4.593650
25%       12.278379
50%       17.737213
75%       24.699526
max       98.147775
Name: death_per_capita, dtype: float64

## Washington and control groups

In [39]:
pre_WA = df_WA_pre.loc[df_WA_pre["state"] == "WA"]["death_per_capita"].describe()
pre_WA_x = df_WA_pre.loc[df_WA_pre["state"] != "WA"]["death_per_capita"].describe()
pre_WA

count    119.000000
mean      13.283688
std        5.363315
min        4.257475
25%        9.302213
50%       13.002576
75%       16.027192
max       31.407035
Name: death_per_capita, dtype: float64

In [40]:
pre_WA_x

count    87.000000
mean     11.050669
std       5.510466
min       3.555719
25%       7.305310
50%       9.434344
75%      12.678880
max      33.384928
Name: death_per_capita, dtype: float64

In [41]:
post_WA = df_WA_post.loc[df_WA_post["state"] == "WA"]["death_per_capita"].describe()
post_WA_x = df_WA_post.loc[df_WA_post["state"] != "WA"]["death_per_capita"].describe()
post_WA

count    79.000000
mean     13.973270
std       4.745924
min       5.679859
25%      10.256195
50%      13.658590
75%      16.628521
max      26.390640
Name: death_per_capita, dtype: float64

In [42]:
post_WA_x

count    81.000000
mean     12.660200
std       5.598490
min       3.390531
25%       8.956985
50%      11.340762
75%      15.277187
max      30.735128
Name: death_per_capita, dtype: float64